body {
/*  background-color:#AA0505;*/
  background:url('noiz.gif');
  background-repeat: repeat;
  color:white;
  font-family:Helvetica Neue, Arial, Helvetica, sans-serif;  
}

p {
  font-size:1.2em;
  font-weight:lighter;
}

h1 {
  margin:0;
  background:transparent url(dynomite.png) repeat scroll 0 0;
  height:115px;
  text-indent:-1000px;
}

h2 {
  color:#5E0202;
  margin-bottom:0.3em;
  margin-top:0;
  text-shadow: rgba(255, 255, 255, 0.1) 1px 1px 1px;
  font-family:Helvetica;
}

a {
  color:white;
  color:white;
  font-weight:bold;
  text-decoration:none;
}
  a:hover {
    text-decoration:underline;
  }

ul {
  list-style:none;
  padding:0;
  margin:0 0 0 0.2em;
}

.infobox { 
  float:left; 
  margin-right:40px;
}

#main {
  width:780px;
  margin:20px auto 40px auto;
  overflow:auto;
}

.header-data {
  height:1.5em;
  font-size:1.5em;
  font-weight:bold;
  margin-bottom:-10px;
}
.header-data .title {
  color:#5E0202;
  margin-right:10px;
  text-shadow: rgba(255, 255, 255, 0.1) 1px 1px 1px;
}

.github-data-group {
  margin-right:20px;
}

.keyword {
  
}