body {
  background-color:#AA0505;
  color:white;
  font-family:Helvetica Neue, Arial, Helvetica, sans-serif;  
}

p {
  font-size:1.3em;
}

h1 {
  background:transparent url(dynomite.png) repeat scroll 0 0;
  height:115px;
  text-indent:-1000px;
}

h2 {
  color:#6B0404;
  margin-bottom:0.3em;
}

a {
  color:white;
  color:white;
  font-weight:bold;
  text-decoration:none;
}
  a:hover {
    text-decoration:underline;
  }

ul {
  list-style:none;
  padding:0;
  margin:0;
}

.infobox { 
  float:left; 
  margin-right:40px;
}

#main {
  width:780px;
  margin:0 auto;
}

.header-data {
  height:1.5em;
  font-size:1.5em;
  font-weight:bold;
}
.header-data .title {
  color:#6B0404;
  margin-right:10px;
}